pipeline/pipeline_getalltablesfromonprem.json
{
	"name": "pipeline_getalltablesfromonprem",
	"properties": {
		"activities": [
			{
				"name": "Lookup_getalltables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA,TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dataset_Sqlserveronprem_Alltables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_getalltables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_getalltables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy all tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ', item().Table_Schema, '.',item().Table_Name)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "datasetonpremdynamic",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Dataset_parquet_alltables",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "bronzetosilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/sanjnatravelst@gmail.com/Data Transformation-2 (bronze to silver)"
				},
				"linkedServiceName": {
					"referenceName": "dbx_linkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silvertogold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronzetosilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/sanjnatravelst@gmail.com/Data Transformation -3 (silver to gold)"
				},
				"linkedServiceName": {
					"referenceName": "dbx_linkedservice",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-14T18:36:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}